@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.crystal-effect {
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.crystal-effect::before {
  content: "";
  position: absolute;
  top: var(--y, 0);
  left: var(--x, 0);
  transform: translate(-50%, -50%);
  width: 350px;
  height: 350px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0) 60%
  );
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none; 
}

.crystal-effect:hover::before {
  opacity: 1;
}

@keyframes pulse-color {
  0%,
  100% {
    color: #ff0000; 
  }
  50% {
    color: #e5dbbc; 
  }
}

.animate-pulse-color {
  animation: pulse-color 2s ease-in-out infinite;
}
